<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.ssm.dao.RegisterMapper" >
  <resultMap id="BaseResultMap" type="com.xc.ssm.entity.Register" >
    <id column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERPASS" property="userpass" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="REALNAME" property="realname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultVip" type="com.xc.ssm.entity.Vip" >
    <id column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERPASS" property="userpass" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="REALNAME" property="realname" jdbcType="VARCHAR" />
    
  </resultMap>
  
  <sql id="Base_Column_List" >
    USERNAME, USERPASS, PHONE, ADDRESS, REALNAME
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from VIP
    where USERNAME = #{username,jdbcType=VARCHAR} 
    AND   USERPASS = #{userpass,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByUser" resultMap="BaseResultVip" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from VIP
    where USERNAME = #{username,jdbcType=VARCHAR} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from VIP
    where USERNAME = #{username,jdbcType=VARCHAR}
  </delete>
  

  <insert id="insertSelective" parameterType="com.xc.ssm.entity.Register" >
    insert into VIP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="userpass != null" >
        USERPASS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="realname != null" >
        REALNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.xc.ssm.entity.Vip" >
    update VIP
    <set >
      <if test="userpass != null" >
        USERPASS = #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="realname != null" >
        REALNAME = #{realname,jdbcType=VARCHAR},
      </if>
    </set>
    where USERNAME = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xc.ssm.entity.Register" >
    update VIP
    set USERPASS = #{userpass,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR}
    where USERNAME = #{username,jdbcType=VARCHAR}
  </update>
</mapper>